<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../../public/assets/css/style_dark-mode.css">
    <script src="../../../public/assets/js/script_dark_mode.js" defer></script>
    <title>Tipos de USB</title>
</head>
<body id="elemento" class="tema-claro">

<!-- INÍCIO DO HEADER -->
<header class="header">
    <nav>
        <h2 class="home"><a href="../Página Inicial/index.html">PAULINFORMATION</a></h2>
        <ul>
            <li><a  href="../Página Inicial/index.html">Home</a></li>
            <li><a href="../About/index.html">About</a></li>
            <li><a href="../Login/index.html">Login</a></li>
            <span class="dropdown">
                <li><a class="dropbuttom" href="#">Menu</a></li>
                <div class="dropbuttom_content">
                    <a href="../Apple vs Samsung/index.html">Apple vs Samsung</a>
                    <a href="../Cabos UTP/index.html">Cabos UTP</a>
                    <a href="../Dock Staion/index.html">Dockstation</a>
                    <a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a>
                    <a href="../INTEL EVO/index.html">INTEL EVO</a>
                    <a href="../Processadores INTEL/index.html">Precessadores INTEL</a>
                    <a href="../Roteadores/index.html">Roteadores Wi-Fi</a>
                    <a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a>
                    <a href="../Tipos de cabos USB/index.html">Tipos de USB</a>
                    <hr>
                    <a href="../Comentários/index.html">Comente</a>
                </div>
            </span>
        </ul>

        <span id="link_cadastro"><a href="../Cadastro/index.html">Cadastro</a></span>

        <span>
            
            <button id="change_theme" onclick="alternarTema()">Alterar Tema</button>
    
        </span>
    
    </nav>
</header>
<!-- FIM DO HEADER -->

    <!-- INÍCIO DO MAIN -->
    <main class="background">
        <div class="conteudo_main">

            <div class="titulos">
                <h1 class="titulo">Cabos <strong>USB</strong></h1>
                <h2 class="subtitulo">Existem vários tipos de USB, como o USB-A, comum em computadores, o USB-B, usado em impressoras, o USB-C, encontrado em dispositivos modernos pela sua velocidade e reversibilidade, o Micro USB, compacto e presente em dispositivos antigos, e o USB 3.0, conhecido por sua alta velocidade de transferência e compatibilidade retroativa com versões anteriores. Cada tipo atende a necessidades específicas de conexão de dispositivos eletrônicos.</h2>
            </div>
    
            <div class="image_main_usb">
                <img src="../../../public/assets/img/usb.jpg" height="350" width="550" alt="">
            </div>

        </div>
        
    </main>
    <!-- FIM DO MAIN -->

    <!-- SECTION -->

    <section>

        <div class="usb_principal1">
            <h2 class="usb_h2">Tipos de USB</h2>

            <div class="usb_content1">

                <p>Aqui, falaremos de todos os tipos de USB, as suas gerações e velocidades de transmissão.</p>
                <hr class="ssd_hr1">
                <em>O termo USB significa “Universal Serial Bus”, surgiu em meados dos anos 90, com grandes fabricantes de eletrônicos e empresas de tecnologias se unindo para criar um novo padrão para transferência de dados e de energia que pudesse ser utilizado por diversos equipamentos diferentes, facilitando a conexão entre eles. Entenda os tipos de USB e para que servem.</em> <br>
                <hr class="ssd_hr1">
                <p>As conexões USB são divididas em tipos A, B e C. Tipo-A e Tipo-B são subdivididos em subcategorias <strong>mini-USB</strong> e <strong>micro-USB</strong>. O mini-A e o mini-B foram descontinuados após a introdução do micro-USB porque o micro-USB tinha metade do tamanho das mini variações, mas era igualmente capaz.</p>

            </div>

        </div>

    </section>

    <!-- FIM SECTION -->

    <!-- SECTION -->

    <section class="usb_section">

        <div class="usb_principal2">
            <h2 class="usb_h2">TIPOS DE USB E SUAS GERAÇÕES</h2>

            <div class="usb_content2">


                <h4>UBS 2.0</h4>
                <hr class="ssd_hr11">
                <p>Os USB's 2.0 oferecem uma velocidade de 480 Mbps na transmissão de dados, muito superior aos 12 Mbps oferecidos na versão 1.1, permitem conectar mais de um dispositivo à mesma porta USB, seu uso plug & play facilita a utilização dos equipamentos conectados, além disso conta com “Hot Swap” que elimina a necessidade de desligar os dispositivos antes de desconectá-los.</p>
                <hr class="ssd_hr11">
                <h4>USB 3.0</h4>
                <hr class="ssd_hr11">
                <p>A primeira versão USB 1.1 alcança taxas de transmissão de no máximo 12 Mbps (megabits por segundo). Já a 2.0 oferece até 480 Mbps. Porém, o número de conexões de alta velocidade só aumenta, com vídeos, músicas, fotos e jogos em alta definição ou resolução. </p>
                <hr class="ssd_hr11">
                <p>É cada vez mais comum a oferta de dispositivos, como smartphones, que demandam essas necessidades. Assim, em 2008, o USB 3.0 surgiu para melhorar esta questão de velocidade de dados. </p>
                <hr class="ssd_hr11">
                <p>A principal característica de USB 3.0 é a velocidade de até <strong>4,8 Gbps</strong> (5 Gbps, arredondando), que corresponde a dez vezes mais que a velocidade do USB 2.0. </p>
                <hr class="ssd_hr11">
                <p>Em relação a alimentação elétrica, o USB 2.0 trabalha com corrente de até 500 miliamperes e tensão de 5 volts, enquanto que USB 3.0 suporta até 900 miliamperes e 5 volts. Isso significa que as portas USB 3.0 alimentam dispositivos que consomem mais energia, como certos HDs externos que, com o USB 2.0, exigiriam fontes de alimentação externas, dedicadas.</p> <br>
                <hr class="ssd_hr11">
                <em>USB 3.0 continua oferecendo vantagens das versões anteriores, como Plug and Play, possibilidade de conexão de mais de um dispositivo na mesma porta, hot-swap (capacidade de conectar e desconectar dispositivos sem a necessidade de desligá-los) e compatibilidade com equipamentos das versões anteriores.</em> <br>
                <hr class="ssd_hr11">
                <p>Os conectores de ambos os padrões são bastante parecidos, mas não iguais. Os conectores USB 3.0 possuem contatos para os fios adicionais que estão presentes na parte do fundo. Caso um dispositivo USB 2.0 seja utilizado, este usará apenas os contatos da parte frontal do conector.</p>

            </div>

        </div>

    </section>

    <!-- FIM SECTION -->

    <!-- SECTION -->

    <section>

        <div class="usb_principal3">
            <h2 class="usb_h2">Conector USB 3.0 do tipo A</h2>

            <div class="usb_content3">

                <p>Cabos USB 3.0 trabalham com 09 fios, já o padrão anterior utiliza 04: VBus (VCC), D+, D- e GND. O primeiro é o responsável pela alimentação elétrica. Já o segundo e o terceiro são utilizados na <strong>transmissão</strong> de dados. E o quarto atua como “fio terra”. Assim, o padrão mais atual suporta taxas de transmissão de dados mais altas.</p>
                <hr class="ssd_hr1">
                <p>É possível conectar dispositivos USB 2.0 ou 1.1 em portas USB 3.0.  Mas nesse caso, a velocidade de transmissão de dados será a de 2.0. </p>
                <hr class="ssd_hr1">
                <p><strong>ATENÇÃO: </strong>para interconectar dois dispositivos via USB 3.0 e aproveitar a sua alta velocidade, o cabo também precisa estar nesse padrão.</p>
                <hr class="ssd_hr1">
                <p>O USB 3.0 também conta com conectores diferenciados para se adequar a determinados dispositivos. Um deles é o <strong>conector</strong> tipo B, utilizado em aparelhos de porte maior, como impressoras ou scanners. Em relação ao tipo B do padrão USB 2.0, a porta USB 3.0 possui uma área de contatos adicional na parte superior.</p>
                <hr class="ssd_hr1">
                <p>Isso significa que nela podem ser conectados tantos dispositivos USB 2.0 (que aproveitam só a parte inferior) quanto USB 3.0. <strong>No entanto, dispositivos 3.0 não podem ser conectados em portas B 2.0.</strong></p>

            </div>

        </div>

    </section>

    <!-- FIM SECTION -->

    <!-- SECTION -->

    <section class="usb_section">

        <div class="usb_principal4">
            <h2 class="usb_h2">Conector micro-USB 3.0 em smartphones</h2>

            <div class="usb_content4">

                <p>O conector USB 3.0 B pode contar com uma variação que utiliza um contato a mais para a alimentação elétrica. E o outro associado a este que serve como “fio terra”, permitindo o fornecimento de até 1.000 miliamperes a um dispositivo.</p>
                <hr class="ssd_hr11">
                <p>Quanto ao tamanho dos cabos, não há um limite definido. Recomenda-se, no máximo, até 3 metros para total aproveitamento da tecnologia. Mas essa medida pode variar de acordo com as técnicas empregadas na fabricação.</p>
                <hr class="ssd_hr11">
                <p>USB 3.0 faz transmissão de dados bidirecional. Ou seja, entre dispositivos conectados, é possível o envio e o recebimento simultâneo de dados. No USB 2.0, é possível apenas um tipo de <strong>atividade</strong> por vez. Uma espécie de “pesquisa contínua”, onde o host precisa enviar sinais constantemente. Para saber qual deles necessita trafegar informações.</p>
                <hr class="ssd_hr11">
                <p>O USB 3.0 também consegue ser mais eficiente no controle do consumo de energia. Para isso o host: que é a máquina na qual os dispositivos são conectados. E realizam a comunicação com os aparelhos de maneira assíncrona. Aguardando estes indicarem a necessidade de transmissão de dados.</p>
                <hr class="ssd_hr11">
                <p>No USB 2.0, os dados transmitidos acabam indo do host para todos os dispositivos conectados. No USB 3.0, essa comunicação ocorre somente com o dispositivo de destino. Tanto o host quanto os dispositivos conectados podem entrar em estado de economia em momentos de ociosidade.</p>

            </div>

        </div>

    </section>

    <!-- FIM SECTION -->

    <!-- SECTION -->

    <section>

        <div class="usb_principal5">
            <h2 class="usb_h2">USB TIPO-C</h2>

            <div class="usb_content4">

                <p>Mais compacto, já que se trata de conectores e entradas menores que o USB Tipo-A. Não se trata de uma nova versão na forma de transferência dos arquivos.Mas sim, no conector presente nas extremidades do cabo.</p>
                <hr class="ssd_hr1">
                <p>O novo conector tornou a tecnologia ainda mais eficiente. E trouxe vantagens práticas que agradaram muito aos usuários. Possibilita o aumento da velocidade e unifica a porta de conexão dos aparelhos.</p>
                <hr class="ssd_hr1">
                <p>Um conector USB-C padrão tem até 24 pinos (12 em cada face). É por isso que é possível encaixá-lo de qualquer lado. Quatro pares de pinos respondem pela alimentação elétrica e aterramento. Os outros quatro pelas transmissões de alta velocidade.</p>
                <hr class="ssd_hr1">
                <p>A entidade compatibilizou as versões mais recentes da tecnologia DisplayPort com o USB-C. Assim, um dispositivo (como um laptop) que tiver uma entrada que combine ambos os padrões (USB e DisplayPort) poderá transmitir vídeos para uma TV ou monitor em resolução 4K ou superior.</p>
                <hr class="ssd_hr1">
                <p>O USB Tipo-C oferece muitas vantagens, algumas delas são:</p>

            </div>

            <div class="usb_content4_1">

                <ul>
                    <li>Aumento para até 10 GB/s da velocidade da transmissão;</li>
                    <hr>
                    <li>Mais praticidade, já que o conector USB Tipo-C é reversível, então você não precisa encontrar a posição correta para o encaixe;</li>
                    <hr>
                    <li>Unificação nos tamanhos das portas, o que elimina a necessidade de ter cabos diferentes para conectar aparelhos maiores e menores.</li>
                </ul>

            </div>

        </div>

    </section>

    <!-- FIM SECTION -->

    <button id="scrollToTopBtn">&#9650;</button>

 <!-- INÍCIO DO FOOTER -->
 <footer class="rodape_utp">

    <div class="conteudo-1">
        <h2>PRINCIPAL</h2>
        
        <ul>
            <li><a href="../Página Inicial/index.html">Home</a></li>
            <li><a href="../Login/index.html">Login</a></li>
            <li><a href="../Cadastro/index.html">Cadastre-se</a></li>
            <li><a href="../About/index.html">About</a></li>
            <li><a href="../Comentários/index.html">Faça o seu comentário</a></li>
        </ul>
    </div>

    <div class="conteudo-2">
        <h2>TEMAS</h2>

        <ul>
            <li><a href="../Apple vs Samsung/index.html">Apple vs Samsung</a></li>
            <li><a href="../Cabos UTP/index.html">Cabos UTP</a></li>
            <li><a href="../Dock Staion/index.html">Dockstation</a></li>
            <li><a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a></li>
            <li><a href="../INTEL EVO/index.html">INTEL EVO</a></li>
        </ul>

    </div>

    <div class="conteudo-3">
        <h2>TEMAS</h2>

        <ul>
            <li><a href="../Processadores INTEL/index.html">Precessadores INTEL</a></li>
            <li><a href="../Roteadores/index.html">Roteadores Wi-Fi</a></li>
            <li><a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a></li>
            <li><a href="../Tipos de cabos USB/index.html">Tipos de USB</a></li>
        </ul>

    </div>

    <div class="conteudo-4">
        <h2>CONTACT US</h2>

        <ul>
            <li><a href="#">WhatsApp</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">X</a></li>
        </ul>

    </div>

</footer>

<div class="copy_rodape">
    <p>&copy; 2024 PAULINFORMATION. Todos os direitos reservados.</p>
</div>
<!-- FIM DO FOOTER -->

</body>
</html>