<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../../public/assets/css/style_dark-mode.css">
    <script src="../../../public/assets/js/script_dark_mode.js" defer></script>
    <title>Quem somos</title>
</head>
<body id="elemento" class="tema-claro">

    <!-- INÍCIO DO HEADER -->
    <header>
        <nav>
            <h2 class="home"><a href="../Página Inicial/index.html">PAULINFORMATION</a></h2>
            <ul>
                <li><a  href="../Página Inicial/index.html">Home</a></li>
                <li><a href="../About/index.html">About</a></li>
                <li><a href="../Login/index.html">Login</a></li>
                <span class="dropdown">
                    <li><a class="dropbuttom" href="#">Menu</a></li>
                    <div class="dropbuttom_content">
                        <a href="../Apple vs Samsung/index.html">Apple vs Samsung</a>
                        <a href="../Cabos UTP/index.html">Cabos UTP</a>
                        <a href="../Dock Staion/index.html">Dockstation</a>
                        <a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a>
                        <a href="../INTEL EVO/index.html">INTEL EVO</a>
                        <a href="../Processadores INTEL/index.html">Precessadores INTEL</a>
                        <a href="../Roteadores/index.html">Roteadores Wi-Fi</a>
                        <a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a>
                        <a href="../Tipos de cabos USB/index.html">Tipos de USB</a>
                        <hr>
                        <a href="../Comentários/index.html">Comente</a>
                    </div>
                </span>
            </ul>

            <span id="link_cadastro"><a href="../Cadastro/index.html">Cadastro</a></span>

            <span>
            
                <button id="change_theme" onclick="alternarTema()">Alterar Tema</button>
        
            </span>
        
        </nav>
    </header>
    <!-- FIM DO HEADER -->

    <!-- INÍCIO DO MAIN -->
    <main class="main_about">
        <div class="conteudo_main">

            <div class="image_main">
                <img src="../../../public/assets/img/quem somos.jpg" height="550" width="550" alt="">
            </div>

            <div class="titulos_about">
                <h1 class="titulo_about">Olá a todos! </h1>
                <h2 class="subtitulo_about">Nós somos uma equipe com a pura paixão tecnológica, e buscamos sempre disseminar todas as dúvidas que podem existir por aí.</h2>
                <h2 class="subtitulo_about">A nossa maior missão é de levar o conhecimento tecnológico a todos com a maior simplicidade e com informações atualizadas para que possam estar dentro daquilo que são as maiores novidades da tecnologia.</h2>
                <h2 class="subtitulo_about">Nós fazemos isso com todo o prazer do mundo e sem cobrar nada em troca, porque o conhecimento deve ser partilhado e não cobrado. Essa é a nossa visão!</h2>
            </div>

        </div>
        
    </main>
    <!-- FIM DO MAIN -->

    <section id="section_about">
        <p>Bem-vindo ao nosso espaço dedicado à tecnologia! Nós somos um grupo apaixonado por compartilhar conhecimento e informações tecnológicas de forma gratuita e acessível para todos. Nosso objetivo é proporcionar um ambiente onde as pessoas possam aprender, explorar e esclarecer dúvidas sem qualquer custo associado. Acreditamos que o acesso à informação é essencial para o progresso e desenvolvimento, e é por isso que estamos empenhados em disponibilizar conteúdo valioso e atualizado sem exigir nada em troca.</p>
        <br>
        <p>No coração do nosso site está o desejo genuíno de compartilhar nosso conhecimento e experiência com a comunidade. Cada membro da nossa equipe é apaixonado por tecnologia e está dedicado a fornecer conteúdo informativo e útil, desde dicas e truques práticos até análises detalhadas de tendências e inovações. Nosso compromisso com a transparência e a integridade guia cada artigo, vídeo ou recurso que disponibilizamos, garantindo que nossos leitores recebam informações precisas e imparciais.</p>
        <br>
        <p>Acreditamos firmemente na democratização do conhecimento tecnológico e estamos empenhados em tornar esse conhecimento acessível a todos, independentemente de sua formação ou experiência prévia. Encorajamos a participação ativa da comunidade, incentivando perguntas, sugestões e comentários. Juntos, podemos criar uma comunidade vibrante e colaborativa, onde a aprendizagem é uma jornada contínua e enriquecedora. Junte-se a nós enquanto exploramos o vasto mundo da tecnologia, porque aqui, o conhecimento é gratuito e a curiosidade é bem-vinda!</p>
    </section>

     <!-- INÍCIO DO FOOTER -->
     <footer class="rodape_utp">

        <div class="conteudo-1">
            <h2>PRINCIPAL</h2>
            
            <ul>
                <li><a href="../Página Inicial/index.html">Home</a></li>
                <li><a href="../Login/index.html">Login</a></li>
                <li><a href="../Cadastro/index.html">Cadastre-se</a></li>
                <li><a href="../About/index.html">About</a></li>
                <li><a href="../Comentários/index.html">Faça o seu comentário</a></li>
            </ul>
        </div>

        <div class="conteudo-2">
            <h2>TEMAS</h2>

            <ul>
                <li><a href="../Apple vs Samsung/index.html">Apple vs Samsung</a></li>
                <li><a href="../Cabos UTP/index.html">Cabos UTP</a></li>
                <li><a href="../Dock Staion/index.html">Dockstation</a></li>
                <li><a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a></li>
                <li><a href="../INTEL EVO/index.html">INTEL EVO</a></li>
            </ul>

        </div>

        <div class="conteudo-3">
            <h2>TEMAS</h2>

            <ul>
                <li><a href="../Processadores INTEL/index.html">Precessadores INTEL</a></li>
                <li><a href="../Roteadores/index.html">Roteadores Wi-Fi</a></li>
                <li><a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a></li>
                <li><a href="../Tipos de cabos USB/index.html">Tipos de USB</a></li>
            </ul>

        </div>

        <div class="conteudo-4">
            <h2>CONTACT US</h2>

            <ul>
                <li><a href="#">WhatsApp</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">X</a></li>
            </ul>

        </div>

    </footer>

    <div class="copy_rodape">
        <p>&copy; 2024 PAULINFORMATION. Todos os direitos reservados.</p>
    </div>
    <!-- FIM DO FOOTER -->

</body>
</html>