<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../../public/assets/css/style_dark-mode.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../../public/assets/js/script_dark_mode.js" defer></script>
    <title>Cabos UTP</title>
</head>
<body id="elemento" class="tema-claro">

<!-- INÍCIO DO HEADER -->
<header>
    <nav>
        <h2 class="home"><a href="../Página Inicial/index.html">PAULINFORMATION</a></h2>
        <ul>
            <li><a  href="../Página Inicial/index.html">Home</a></li>
            <li><a href="../About/index.html">About</a></li>
            <li><a href="../Login/index.html">Login</a></li>
            <span class="dropdown">
                <li><a class="dropbuttom" href="#">Menu</a></li>
                <div class="dropbuttom_content">
                    <a href="../Apple vs Samsung/index.html">Apple vs Samsung</a>
                    <a href="../Cabos UTP/index.html">Cabos UTP</a>
                    <a href="../Dock Staion/index.html">Dockstation</a>
                    <a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a>
                    <a href="../INTEL EVO/index.html">INTEL EVO</a>
                    <a href="../Processadores INTEL/index.html">Precessadores INTEL</a>
                    <a href="../Roteadores/index.html">Roteadores Wi-Fi</a>
                    <a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a>
                    <a href="../Tipos de cabos USB/index.html">Tipos de USB</a>
                    <hr>
                    <a href="../Comentários/index.html">Comente</a>
                </div>
            </span>
        </ul>

        <span id="link_cadastro"><a href="../Cadastro/index.html">Cadastro</a></span>

        <span>
            
            <button id="change_theme" onclick="alternarTema()">Alterar Tema</button>
    
        </span>

         <!-- MENU MOBILE -->

<ul class="menu-mobile">
    <div class="icon-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <li><a href="../Apple vs Samsung/index.html">Apple vs Samsung</a></li>
    <li><a href="../Cabos UTP/index.html">Cabos UTP</a></li>
    <li><a href="../Dock Staion/index.html">Dockstation</a></li>
    <li><a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a></li>
    <li><a href="../INTEL EVO/index.html">INTEL EVO</a></li>
    <li><a href="../Processadores INTEL/index.html">Precessadores INTEL</a></li>
    <li><a href="../Roteadores/index.html">Roteadores Wi-Fi</a></li>
    <li><a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a></li>
    <li><a href="../Tipos de cabos USB/index.html">Tipos de USB</a></li>
    <hr>
    <li><a href="../Cadastro/index.html">Cadastre-se</a></li>
    <li><a href="../Login/index.html">Login</a></li>
    <li><a href="../Comentários/index.html">Comente</a></li>
    <hr> <br> <br>
    <button onclick="alternarTema()">Alterar Tema</button>
</ul>  

<div class="menu-icons">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>

<!-- FIM MENU MOBILE -->
    
    </nav>
</header>
<!-- FIM DO HEADER -->

    <!-- INÍCIO DO MAIN -->
    <main>
        <div class="conteudo_main">

            <div class="titulos">
                <h1 class="titulo">Guia completo e definitivo sobre <strong>cabos UTP</strong></h1>
                <h2 class="subtitulo">Quando se trata de redes de computadores com cabo UTP, poucas coisas são tão importantes quanto compreender o cabeamento estruturado. Neste artigo, vamos dar uma olhada no cabo UTP — o que é, como usá-lo e alguns dos benefícios que ele oferece. Ao entender o cabeamento UTP e suas capacidades, você pode garantir que sua rede funcione sem problemas e com eficiência. Portanto, sem mais delongas, vamos começar!</h2>
            </div>
    
            <div class="utp_image">
                <img src="../../../public/assets/img/cabos.jpg" height="320" alt="">
            </div>

        </div>
        
    </main>
    <!-- FIM DO MAIN -->

    <!-- SECTION 1 -->
    <section>
        <div class="utp_principal1">

            <div class="utp_content1">
                <h2 class="utph2">Origem do cabo</h2>
                <p>O cabo UTP foi desenvolvido para superar as limitações dos cabos coaxiais, muito utilizado nos anos 90, que não eram flexíveis ou rápidos o suficiente para as exigências atuais de largura de banda elevada.</p>
                <br>
                <p>Para superar essas limitações, as empresas se uniram para desenvolver cabos Unshielded Twisted Pair (UTP). Eles são um fio mais leve e flexível que não requer aterramento e pode suportar velocidades de até 250 MHz em princípio — projetados para redes Ethernet rápidas com uma largura e banda média a princípio de 100Mbps que foram evoluindo.</p>
            </div>

            <div class="utp_content2">
                <h2 class="utph2">Para que serve o cabo</h2>
                <p>Ao longo dos anos, o cabeamento UTP tem sido usado para transmitir dados de voz. Entretanto, com vários avanços na tecnologia, ele agora é considerado uma solução ideal também para estações de trabalho.</p> <br>
                <p>Em uma era em que todos nós estamos nos tornando mais dependentes da tecnologia, é importante garantir que seu equipamento possa se comunicar adequadamente.</p> <br>
                <p>Isto significa garantir que tanto o envio quanto o recebimento de cada informação não apenas funcionem como pretendido, mas também durem mais do que o esperado!</p> <br>
                <p>Através da utilização de Cabos UTP, uma rede é capaz de resistir a crosstalk (interferência eletromagnética que ocorre entre duas partes dentro de cabos de par trançado).</p> <br>
                <p>Isso torna esses cabos em particularmente recomendados quando você precisa de instalar vários pontos de rede. Isto porque eles são muito mais baratos do que os antigos cabos coaxiais.</p>

            </div>

            <div class="utp_content3">
                <h2 class="utph2">Como funciona o cabo UTP</h2>
                <p>O cabo UTP é uma ótima maneira de manter sua transmissão de dados protegida contra interferências e ruídos externos. Este tipo de cabeamento tem quatro pares (ou mais) torcidos juntamente que criam um campo eletromagnético que reduz a chance de você experimentar qualquer problema de ruído ao enviar informações através das redes.</p>
            </div>

        </div>
    </section>
    <!-- FIM SECTION 1 -->


    <!-- SECTION 2 -->
    <section>
        <div class="utp_principal2">

            <div class="utp_content4">
                <h2 class="utph2">Categorias de cabos UTP</h2>
                <p class="utp_p">Os diferentes tipos de cabos UTP são organizados em categorias de acordo com suas características físicas e lógicas, com novas gerações surgindo à medida que a tecnologia avança.</p>
            </div>

            <div class="utp_content5">
                <ul>
                    <li><strong>Cabo UTP Categoria 1 | CAT 1:</strong> Estes cabos telefônicos tradicionais foram usados nos anos 90 e só podiam transportar voz.</li>
                    <br>
                    <li><strong>Cabo UTP Categoria 2 | CAT 2:</strong> 4 Mbps é a capacidade de transmissão para este tipo de rede utilizada no início das redes Ethernet.</li>
                    <br>
                    <li><strong>Cabo UTP Categoria 3 | CAT 3:</strong> A categoria 3 é uma categoria do primeiro tipo desenvolvida para redes de computadores de até 10Mbps, com uma taxa de transmissão máxima de 16MHZ. O processo de padronização pelo cabeamento estruturado também começou nesta era assim como a utilização da Internet pelas pessoas se popularizou.</li>
                    <br>
                    <li><strong>Cabo UTP Categoria 4 | CAT 4:</strong> Os pares torcidos da categoria 4 permitiram a transmissão de dados até 20MHz e com velocidades de 16 Mbps.</li>
                    <br>
                    <li><strong>Cabo UTP Categoria 5 | CAT 1:</strong> Os cabos UTP categoria 5 foram uma revolução em termos de modernidade. Eles podem transmitir em frequência de até 100 MHz e transferir dados a velocidades a impressionantes 100Mbps para epóca.</li>
                    <br>
                    <li><strong>Cabo UTP Categoria 5e | CAT 5e:</strong> O uso de cabos UTP Cat5e permitiu a transmissão de dados de até 1 Gbps em distância de até 100 metros. Sua performance de proteção ao crosstalk foram melhoradas em relação àquelas encontradas em versões mais antigas.</li>
                    <p>Cat5e é um tipo de cabo de rede que tem se mantido popular por mais de 10 anos. O Cat5e ainda é amplamente utilizado em muitas casas e empresas em 2022.</p>
                    <br>
                    <li><strong>Cabo UTP Categoria 6 | CAT 6:</strong> O cabeamento UTP Cat6 pode atingir velocidades de até 1 Gbps em distâncias de até 100 metros. Além disso, o Cat6 pode suportar velocidades de 10 Gbps em distâncias de até 55 metros. Esta é uma grande melhoria em relação ao seu predecessor, o Cat5e, que só suportava velocidades de até 1 Gb/s.</li>
                    <p>Além disso, o cabo Cat6 UTP por trabalhar em frequências de 250MHz é melhor que o cabo Cat5e UTP porque ele não tem tantos erros de transmissão. Isto significa que sua conexão será mais rápida e mais eficiente, até 100 metros nos mesmo 1 Gbps.</p>
                    <br>
                    <li><strong>Cabo UTP Categoria 6A | CAT 6A:</strong> A classificação Cat6A significa Category 6 Augmented ou Categoria 6 Aumentada. A proposta é melhorar atributos fundamentais para ampliação do potencial para infraestruturas de rede.</li>
                    <p>A proposta do Cat6A é dobrar a velocidade do Cat6. Por isso, essa versão tem o dobro da largura de banda, atingindo taxas de transferência de até 10 Gbps a 100 metros de distância.</p>
                    <p>Um dos diferenciais mais interessantes dessa classificação é que ela pode ser reconhecida como requisito estrutural para implementação de uma infraestrutura Wifi 6.</p>
                    <br>
                    <li><strong>Cabo UTP Categoria 7 | CAT 7:</strong> Os cabos de categoria 7 são os primeiros de seu tipo. Eles permitem frequências de até 600 MHz, e foram projetados com blindagem para cada par ou fio a fim de garantir a máxima proteção contra interferências externas.</li>
                    <p>No entanto, a nova tecnologia ainda não chegou ao Brasil; a recusa da Anatel em fazer a sua homologação fica entre este avanço (e tudo o mais) até o momento.</p>
                    <p>Como o Cat7 possui blindagem interna, inerente a sua fabricação, eles não são cabos UTP e sim, cabos de rede FTP. Veremos mais a seguir:</p>
                </ul>
            </div>

        </div>
    </section>
    <!-- FIM SECTION 2 -->

     <!-- SECTION 3 -->

    <section>
        <div class="utp_principal3">

            <div class="utp_content6">
                <h2 class="utph2"> Cabos de rede blindados</h2>
                <p>Existem diferentes tipos de blindagem para cabos, dependendo do ambiente em que serão utilizados. A fim de evitar interferências eletromagnéticas (EMI), os cabos blindados possuem uma trança metálica ou folha de metal ao redor do condutor isolado. Esta blindagem impede que o ruído de outros dispositivos eletrônicos entre ou saia do cabo, o que pode causar corrupção de dados ou do sistema.</p> <br>
                <p>Nas aplicações de comunicação de dados os cabos x/y TP são classificados quanto a suas características construtivas onde o x ou y podem ser:</p> <br>
                <ul>
                    <li>*U – Unshielded – cabos sem blindagem;</li>
                    <li>*F – Foiled – cabos com blindagem em folha metalizada;</li>
                    <li>*S – Screened – cabos com blindagem em malha metálica;</li>
                </ul>
                <br>
                <p>A variável x representa a blindagem do cabo como um todo enquanto o y representa a blindagem interna entre os pares.</p>
            </div>

        </div>
    </section>

     <!-- FIM SECTION 3 -->

     <button id="scrollToTopBtn" class="tema-claro">&#9650;</button>

 <!-- INÍCIO DO FOOTER -->
 <footer class="rodape_utp">

    <div class="conteudo-1">
        <h2>PRINCIPAL</h2>
        
        <ul>
            <li><a href="../Página Inicial/index.html">Home</a></li>
            <li><a href="../Login/index.html">Login</a></li>
            <li><a href="../Cadastro/index.html">Cadastre-se</a></li>
            <li><a href="../About/index.html">About</a></li>
            <li><a href="../Comentários/index.html">Faça o seu comentário</a></li>
        </ul>
    </div>

    <div class="conteudo-2">
        <h2>TEMAS</h2>

        <ul>
            <li><a href="../Apple vs Samsung/index.html">Apple vs Samsung</a></li>
            <li><a href="../Cabos UTP/index.html">Cabos UTP</a></li>
            <li><a href="../Dock Staion/index.html">Dockstation</a></li>
            <li><a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a></li>
            <li><a href="../INTEL EVO/index.html">INTEL EVO</a></li>
        </ul>

    </div>

    <div class="conteudo-3">
        <h2>TEMAS</h2>

        <ul>
            <li><a href="../Processadores INTEL/index.html">Precessadores INTEL</a></li>
            <li><a href="../Roteadores/index.html">Roteadores Wi-Fi</a></li>
            <li><a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a></li>
            <li><a href="../Tipos de cabos USB/index.html">Tipos de USB</a></li>
        </ul>

    </div>

    <div class="conteudo-4">
        <h2>CONTACT US</h2>

        <ul>
            <li><a href="#">WhatsApp</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">X</a></li>
        </ul>

    </div>

</footer>

<div class="copy_rodape">
    <p>&copy; 2024 PAULINFORMATION. Todos os direitos reservados.</p>
</div>
<!-- FIM DO FOOTER -->

</body>
</html>