/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap'); */

 body{
            font-family: 'Raleway', sans-serif;
            background-color: #201b2c;
            margin: 0;
            padding: 0 ;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: -50vw;
            transition: 0.8s;
        }

        .container {
            background-color: transparent;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 10px 40px  whitesmoke;
            text-align: center;
            width: -50vw;
            border-radius: 15px;
            transition: 0.8s;
        }

        .container1 {
            background-color: transparent;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 10px 40px  whitesmoke;
            text-align: center;
            width: 40vw;
            border-radius: 15px;
            transition: 0.8s;
        }

        #img_log{
            width: 50%;
            height: 500px;
            margin-left: -200px;
        }

        h1 {
            margin-bottom: 20px;
            color: red;
        }

        label {
            display: block;
            margin-bottom: 5px;
            text-align: left;
            color: whitesmoke;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid white;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: gray;
            transition: 0.5s;
            /* background-color: #201b2c; */
            color: whitesmoke;
            font-weight: 700;
            font-size:larger;
            outline: none;
        }

        button{
            background-color: red;
            color: #fff;
            border: 2px solid transparent;
            cursor: pointer;
            font-size: 1.2em;
            letter-spacing: 3px;
            transition: 0.3s;
        }

        button:hover {
            background-color: #fff;
            border: 2px solid red;
            color: red;
            transition: 0.5s;
        }


        .pp{
            color: whitesmoke;
            font-weight: 800;
        }

        .pp a{
            text-decoration: none;
            color: red;
        }



/* .main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login-image{
    width: 35vw;
}

.left-login > h1{
    font-size: 3vw;
    color: red;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#img{
    margin-top: 20px;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    padding: 30px 35px;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0px 10px 40px whitesmoke;
}

.card-login > h1{
    color: red;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: grey;
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
    font-weight: bolder;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: red;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px whitesmoke;
    transition: 0.5s;
}

a{
    text-decoration: none;
    text-align: center;
}

.btn-login:hover{
    background-color: whitesmoke;
    color: red;
    transition: 0.5s;
} */

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}