<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../../public/assets/css/style_dark-mode.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../../public/assets/js/script_dark_mode.js" defer></script>
    <title>Apple vs. Samsung</title>
</head>
<body id="elemento" class="tema-claro">

<!-- INÍCIO DO HEADER -->
<header>
    <nav>
        <h2 class="home"><a href="../Página Inicial/index.html">PAULINFORMATION</a></h2>
        <ul>
            <li><a  href="../Página Inicial/index.html">Home</a></li>
            <li><a href="../About/index.html">About</a></li>
            <li><a href="../Login/index.html">Login</a></li>
            <span class="dropdown">
                <li><a class="dropbuttom" href="#">Menu</a></li>
                <div class="dropbuttom_content">
                    <a href="../Apple vs Samsung/index.html">Apple vs Samsung</a>
                    <a href="../Cabos UTP/index.html">Cabos UTP</a>
                    <a href="../Dock Staion/index.html">Dockstation</a>
                    <a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a>
                    <a href="../INTEL EVO/index.html">INTEL EVO</a>
                    <a href="../Processadores INTEL/index.html">Precessadores INTEL</a>
                    <a href="../Roteadores/index.html">Roteadores Wi-Fi</a>
                    <a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a>
                    <a href="../Tipos de cabos USB/index.html">Tipos de USB</a>
                    
                    <a href="../Comentários/index.html">Comente</a>
                </div>
            </span>
        </ul>

        <span id="link_cadastro"><a href="../Cadastro/index.html">Cadastro</a></span>

        <span>

            <button id="change_theme" onclick="alternarTema()">Alterar Tema</button>
    
        </span>

         <!-- MENU MOBILE -->

<ul class="menu-mobile">
    <div class="icon-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <li><a href="../Apple vs Samsung/index.html">Apple vs Samsung</a></li>
    <li><a href="../Cabos UTP/index.html">Cabos UTP</a></li>
    <li><a href="../Dock Staion/index.html">Dockstation</a></li>
    <li><a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a></li>
    <li><a href="../INTEL EVO/index.html">INTEL EVO</a></li>
    <li><a href="../Processadores INTEL/index.html">Precessadores INTEL</a></li>
    <li><a href="../Roteadores/index.html">Roteadores Wi-Fi</a></li>
    <li><a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a></li>
    <li><a href="../Tipos de cabos USB/index.html">Tipos de USB</a></li>
    <hr>
    <li><a href="../Cadastro/index.html">Cadastre-se</a></li>
    <li><a href="../Login/index.html">Login</a></li>
    <li><a href="../Comentários/index.html">Comente</a></li>
    <hr> <br> <br>
    <button onclick="alternarTema()">Alterar Tema</button>
</ul>  

<div class="menu-icons">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>

<!-- FIM MENU MOBILE -->
    
    </nav>
</header>
<!-- FIM DO HEADER -->

    <!-- INÍCIO DO MAIN -->
    <main>
        <div class="conteudo_main">

            <div class="titulos">
                <h1 class="titulo">iPhone 15 <strong>Pro Max</strong> vs Samsung <strong>S24 ULTRA</strong></h1>
                <h2 class="subtitulo">Aqui nós temos os maiores de cada marca, os topos de linha atualmente. São simplesmente, os melhores celulares do mundo, apontam alguns consumidores... Mas aqui falaremos especificamente de cada um e claro, qual é o melhor, no nosso ponto de vista.</h2>
            </div>
    
            <div class="image_main">
                <img src="../../../public/assets/img/IPH VS SAMS.png" height="350" width="550" alt="">
            </div>

        </div>
        
    </main>
    <!-- FIM DO MAIN -->

     <!-- SECTION IPHONE --> 
    <section>

        <div class="conteudo_principal_iphone">

            <div class="iphone_content">

                <h3>iPhone 15</h3>
                <p>Em primeiríssimo lugar temos o <strong>iPhone 15 Pro Max</strong>, que é um dos telefones mais competitivos do atual momento.</p>
                <hr class="ssd_hr11">
                <p>A sua principal novidade e o que chama mais a atenção, é o <strong>DYNAMIC Island</strong>, que é a "solução", entre aspas mesmo, do <strong>Notch</strong>, aquele "bigode" que vinha nos modelos anteriores.</p>
                <hr class="ssd_hr11">
                <p>Mais abaixo, mostraremos mais características do super smartphone da gigante Apple, que é simplesmente um absurdo.</p>
                
            </div>

            <div class="iphone_image">
                <img src="../../../public/assets/img/iphone 15.jpeg" width="500" height="500" alt="">
            </div>

        </div>

    </section>

    <h2 class="h2">CARACTERÍSTICAS</h2>

    <section>
        <div class="carac_iphone">

            <div class="carac_content">
                <h4>Geral</h4>
                
                <p><strong>Sistema Operacional:</strong> iOS 17</p>
                
                <p><strong>Disponibilidade:</strong> 9/2023</p>
                
                <p><strong>Peso:</strong> 221 gramas</p>
                
                <p><strong>Resistência a água:</strong> SIM</p>
                <br>
                <h4>Rede</h4>
                
                <p><strong>Sim Card:</strong> Alguns modelos tem o slot - Mas nos EUA é obrigatório o eSIM</p>
                
                <p><strong>Dual SIM:</strong> Dual stand-by</p>
                
                <p><strong>Possui também:</strong> Gsm, HSPA+, LTE e 5G</p>
                <br>
                <h4>Dados Técnicos</h4>
                
                <p><strong>Processador/Chipset:</strong> Apple A17 Pro - 64 bits</p>
                
                <p><strong>GPU:</strong> Apple GPU (5-core)</p>
                
                <p><strong>RAM:</strong> 8 GB</p>
                
                <p><strong>Memória Máxima:</strong> 1024 GB - Sem possibilidade de expansão</p>
                <br>
                <h4>Tela</h4>
                
                <p><strong>Polegadas:</strong> 6.7</p>
                
                <p><strong>Resolução:</strong> 1290 x 2796 pixels</p>
                
                <p><strong>Tipo:</strong> Super Retina XDR OLED - 120Hz</p>
                
                <p><strong>Proteção:</strong> Ceramic Shield</p>
                <br>
                <h4>Câmera</h4>
                
                <p><strong>Megapixel:</strong> 48Mp + 12Mp + 12Mp</p>
                
                <p><strong>Resolução:</strong> 8000 x 6000 pixels - Com estabilização - HDR</p>
                
                <p><strong>Zoom Óptico:</strong> 3x</p>
                
                <p><strong>Câmera Frontal:</strong> 12Mp F 1.9 - Com detecção facial</p>
                <br>
                <h4>Vídeo</h4>
                
                <p><strong>Resolução:</strong> 4K (2160p) - 60 fps - HDR</p>
                
                <p><strong>Auto focagem vídeo:</strong> SIM</p>
                
                <p><strong>Câmera Frontal:</strong> 4K (2160p)</p>
                <br>
                <h4>Conectividade</h4>
                
                <p><strong>Wi-Fi:</strong> 6e</p>
                
                <p><strong>Bluetooth:</strong> 5.3 com A2DP/LE</p>
                
                <p><strong>USB:</strong> Type-C 3.0 - Possui também GPS e NFC</p>
                <br>
                <h4>Bateria</h4>
                
                <p><strong>Tipo:</strong> Litio - 4422 mAh</p>
            </div>

        </div>

    </section>
     <!-- FIM SECTION IPHONE-->


    <!-- SECTION SAMSUNG -->
    <section class="section">

        <div class="conteudo_principal_samsung">

                <div class="carac_samsung">

                    <div class="samsung_content">
                        <h3>Samsung S24 ULTRA</h3>
                        <p>Simplesmente o melhor da sul-coreana e um dos melhores do mundo.</p>
                        <hr class="hr_s">
                        <p>O Samsung S24 ULTRA promete ser o melhor smartphone do ano porque ele é simplesmente imbatível em alguns aspectos.</p>
                        <hr class="hr_s">
                        <p>O seu destaque está no seu alto desempenho e principalmente na tela de 2K com Dynamic AMOLED 2x, que é sem sombra de dúvidas, a melhor tela de qualquer smartphone do mundo atualmente, e sem falar do conjunto incrível de câmeras que bate de muitos celulares por aí e com a novidade da IA integrada no chipset...</p>
                        <hr class="hr_s">
                        <p>Aqui vão mais características e detalhadas sobre essa verdadeira máquina.</p>
                    </div>
        
                    <div class="samsung_image">
                        <img src="../../../public/assets/img/samsung s24.jpg" width="450" height="450" alt="">
                    </div>
        
                </div>

        </div>

    </section>

    

    <h2 class="h2">CARACTERÍSTICAS</h2>

    <section>

        <div class="samsung_carac">

            <div class="samsung_carac_content">
                <h4>Geral</h4>
                
                <p><strong>Sistema Operacional:</strong> Android 14 Samsung One UI 6.1</p>
                
                <p><strong>Disponibilidade:</strong> 1/2024</p>
                
                <p><strong>Peso:</strong> 232 gramas</p>
                
                <p><strong>Resistência a água:</strong> SIM</p>
                <br> 
                <h4>Rede</h4>
                
                <p><strong>Sim Card:</strong> Com slot e também eSIM</p>
                
                <p><strong>Dual SIM:</strong> Dual stand-by</p>
                
                <p><strong>Possui também:</strong> Gsm, HSPA+, LTE e 5G</p>
                <br>
                <h4>Dados Técnicos</h4>
                
                <p><strong>Processador/Chipset:</strong> Snapdragon 8 Gen 3 Qualcomm SM8650-AB - 64bits</p>
                
                <p><strong>GPU:</strong> Adreno 750</p>
                
                <p><strong>RAM:</strong> 12 GB</p>
                
                <p><strong>Memória Máxima:</strong> 1024 GB - Sem possibilidade de expansão</p>
                <br>
                <h4>Tela</h4>
                
                <p><strong>Polegadas:</strong> 6.8</p>
                
                <p><strong>Resolução:</strong> 1440 x 3120 pixels</p>
                
                <p><strong>Tipo:</strong> Dynamic AMOLED 2X - 120Hz</p>
                
                <p><strong>Proteção:</strong> Gorilla Glass Armor</p>
                <br
                <h4> Câmera</h4>
                
                <p><strong>Megapixel:</strong> 200Mp + 50Mp + 12Mp + 10Mp</p>
                
                <p><strong>Resolução:</strong> 16330 x 12247 pixels - Com estabilização</p>
                
                <p><strong>Zoom Óptico:</strong> 5x</p>
                
                <p><strong>Câmera Frontal:</strong> 40Mp F 2.2 - com detecção facial</p>
                <br>
                <h4>Vídeo</h4>
                
                <p><strong>Resolução:</strong> 8K UHD - 30fps - HDR</p>
                
                <p><strong>Câmera Frontal:</strong> 4K (2160p) - 60fps</p>
                <br>
                <h4>Conectividade</h4>
                
                <p><strong>Wi-Fi:</strong> 6/6e/7</p>
                
                <p><strong>Bluetooth:</strong> 5.3 com A2DP/LE</p>
                
                <p><strong>USB:</strong> Type-C 3.2 - Possui também GPS e NFC</p>
                <br>
                <h4>Bateria</h4>
                
                <p><strong>Tipo:</strong> LiPo - 5000mAh</p>
            </div>

        </div>

    </section>

    <!--  FIM SECTION SAMSUNG -->


     <!-- VAREDITO E AGRADECIMENTOS -->

     <section>

        <div class="vere_principal">

            <div class="vere_content">
                <h2 class="vh2">Veredito</h2> <br>
                <p>Com base em tudo que nós vimos, ambos smartphones são simplesmente os melhores do momento, por isso, recomendamos que não siga o nosso resultado final, já que isso também é uma questão de gosto ou opinião própria.</p>
                <p>Não tem como dizer qual é melhor que qual, já que os dois, entregam tudo e muito mais que é necessário para um usuário comum.</p>
                <p>Mas concluímos que o vencedor da nossa batalha foi o: <strong>S24 ULTRA</strong>, já que ele oferece um pouco mais que o iPhone da Apple, como por exemplo, a qualidade das imagens.</p>
                <p>Mas não se baseie nas nossas pesquisas ou escolhas, cada um é livre de escolher o que quiser ou que achar melhor; mas com as nossas análises, ficamos com o topo de linha da sul-coreana.</p>
                <p>O iPhone 15 não fica para trás, já que ele conta também com duas funcionalidades incríveis, que são o modo <strong>Sport</strong> e especialmente o modo <strong>Cinema</strong> nas câmeras.</p>
                <p>Estes dois modos são explêndidos no celular da Apple.</p>
            </div>

            <div class="agra_content">
                <h2 class="vh2">Agradecimentos</h2> <br>
                <p>Esperamos que essas informações vos tenham servido de alguma forma, obrigado por visitar a nossa página, cadastre-se para mais conhecimento, e <em>volte sempre!</em></p>
            </div>

        </div>

     </section>

      <!-- FIM VEREDITO E AGRADECIMENTOS -->

      <hr id="hr_footer">
      <button id="scrollToTopBtn" class="tema-claro">&#9650;</button>

        <!-- INÍCIO DO FOOTER -->
     <footer class="rodape_sam_iph">

        <div class="conteudo-1">
            <h2>PRINCIPAL</h2>
            
            <ul>
                <li><a href="../Página Inicial/index.html">Home</a></li>
                <li><a href="../Login/index.html">Login</a></li>
                <li><a href="../Cadastro/index.html">Cadastre-se</a></li>
                <li><a href="../About/index.html">About</a></li>
                <li><a href="../Comentários/index.html">Faça o seu comentário</a></li>
            </ul>
        </div>

        <div class="conteudo-2">
            <h2>TEMAS</h2>

            <ul>
                <li><a href="../Apple vs Samsung/index.html">Apple vs Samsung</a></li>
                <li><a href="../Cabos UTP/index.html">Cabos UTP</a></li>
                <li><a href="../Dock Staion/index.html">Dockstation</a></li>
                <li><a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a></li>
                <li><a href="../INTEL EVO/index.html">INTEL EVO</a></li>
            </ul>

        </div>

        <div class="conteudo-3">
            <h2>TEMAS</h2>

            <ul>
                <li><a href="../Processadores INTEL/index.html">Precessadores INTEL</a></li>
                <li><a href="../Roteadores/index.html">Roteadores Wi-Fi</a></li>
                <li><a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a></li>
                <li><a href="../Tipos de cabos USB/index.html">Tipos de USB</a></li>
            </ul>

        </div>

        <div class="conteudo-4">
            <h2>CONTACT US</h2>

            <ul>
                <li><a href="#">WhatsApp</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">X</a></li>
            </ul>

        </div>

    </footer>

    <div class="copy_rodape">
        <p>&copy; 2024 PAULINFORMATION. Todos os direitos reservados.</p>
    </div>
    <!-- FIM DO FOOTER -->

    <script src="../../../public/assets/js/script_dark_mode.js"></script>

</body>
</html>