<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../../public/assets/css/style_dark-mode.css">
    <script src="../../../public/assets/js/script_dark_mode.js" defer></script>
    <title>INTEL EVO</title>
</head>
<body id="elemento" class="tema-claro">

<!-- INÍCIO DO HEADER -->
<header class="header">
    <nav>
        <h2 class="home"><a href="../Página Inicial/index.html">PAULINFORMATION</a></h2>
        <ul>
            <li><a  href="../Página Inicial/index.html">Home</a></li>
            <li><a href="../About/index.html">About</a></li>
            <li><a href="../Login/index.html">Login</a></li>
            <span class="dropdown">
                <li><a class="dropbuttom" href="#">Menu</a></li>
                <div class="dropbuttom_content">
                    <a href="../Apple vs Samsung/index.html">Apple vs Samsung</a>
                    <a href="../Cabos UTP/index.html">Cabos UTP</a>
                    <a href="../Dock Staion/index.html">Dockstation</a>
                    <a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a>
                    <a href="../INTEL EVO/index.html">INTEL EVO</a>
                    <a href="../Processadores INTEL/index.html">Precessadores INTEL</a>
                    <a href="../Roteadores/index.html">Roteadores Wi-Fi</a>
                    <a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a>
                    <a href="../Tipos de cabos USB/index.html">Tipos de USB</a>
                    <hr>
                    <a href="../Comentários/index.html">Comente</a>
                </div>
            </span>
        </ul>

        <span id="link_cadastro"><a href="../Cadastro/index.html">Cadastro</a></span>

        <span>
            
            <button id="change_theme" onclick="alternarTema()">Alterar Tema</button>
    
        </span>
    
    </nav>
</header>
<!-- FIM DO HEADER -->

    <!-- INÍCIO DO MAIN -->
    <main class="background">
        <div class="conteudo_main_evo">

            <div class="titulos_evo">
                <h1 class="titulo">Processadores <strong>INTEL EVO</strong></h1>
                <h2 class="subtitulo_evo">Os processadores Intel Evo são uma linha projetada para oferecer desempenho eficiente e experiências de computação excepcionais em laptops finos e leves. Eles combinam poder de processamento robusto com gráficos integrados de alta qualidade, suportando tarefas exigentes e oferecendo uma vida útil da bateria prolongada. Além disso, os dispositivos equipados com esses processadores são certificados pela Intel para garantir padrões premium em áreas como design, tela, áudio e conectividade, proporcionando uma experiência de usuário fluida e confiável.</h2>
            </div>
    
            <div class="image_main">
                <img src="../../../public/assets/img/EVO 2.png" height="450" width="650" alt="">
            </div>

        </div>
        
    </main>
    <!-- FIM DO MAIN -->

    <!-- SECTION 1 -->

    <section>

        <div class="evo_principal1">
            <h2>Nova linha de Processadores INTEL</h2>

            <div class="evo_content1">
                <p>A plataforma Intel Evo abrange uma categoria de notebooks de última geração que recebem esse selo. Trata-se de uma caracterização a um notebook — como se fosse uma etiqueta —, que indica que o modelo atende certos atributos. A ideia é que, a partir do selo, as fabricantes de laptops passem a desenvolver sistemas que garantam maior desempenho, autonomia, durabilidade e outros recursos importantes em dispositivos leves e ultrafinos. Dessa forma, o Intel Evo torna instantânea a identificação da tecnologia e da potência do PC, o que gera maior clareza e facilidade ao consumidor na hora de comprar.</p>
            </div>

            <div class="evo_content2">
                <p>Modelos que possuem o o selo são indicados para pessoas que precisem trabalhar fora de casa ou façam muitas tarefas ao mesmo tempo, sendo laptops cuja bateria dura bastante tempo, entre outras coisas. Separamos, a seguir, as principais características para você entender melhor como funciona a plataforma Intel Evo.</p>
            </div>

            <div class="evo_content3">
                <p>O Intel Evo é considerado uma segunda edição do Projeto Athena. Desenvolvido pela Intel em 2019, o projeto surgiu como uma validação dos computadores produzidos e já contava com uma série de exigências, como boa duração da bateria e desempenho consistente. Na primeira fase, já eram solicitados notebooks com carregamento rápido, Wi-Fi 6, boa velocidade de resposta para tarefas instantâneas e Gigabit LTE opcional. Para serem aprovados e receberem o título, os computadores também deveriam ter CPU Intel Core i5 ou Core i7 de 11ª geração com gráficos integrados Intel Xe.</p>
            </div>

            <div class="evo_content4">
                <p>Como não havia uma comunicação direta entre o consumidor e o projeto, os produtos aprovados no Athena eram classificados como modelos premium, sem veiculação comercial com link para o projeto. A criação da plataforma Intel Evo e do próprio selo disposto nos aparelhos possibilitou mostrar a ligação existente entre os requisitos rigorosos da companhia e quais computadores trabalhavam com os recursos exigidos — além da promessa de cumprirem com qualidade aquilo que propõem. Dessa forma, as principais fabricantes de laptops, como a Dell, Lenovo, Acer, Samsung, Asus e HP já estão disponíveis na plataforma Intel Evo.</p>                
            </div>

        </div>

    </section>

    <!-- FIM SECTION 1 -->

    <!-- SECTION 2 -->

    <section id="section_evo">

        <div class="evo_principal2">
            <h2 id="h2_evo">Critérios de seleção</h2>

            <div class="evo_content5">
                <p>Os critérios para a qualificação dos laptops Intel Evo são completos e rígidos — é preciso que os fabricantes cumpram todos os requisitos para receber o título. O primeiro critério para que o produto seja selecionado são os processadores Alder Lake de 12ª geração da Intel, os mais recentes da marca. Além disso, eles devem ser da série H, para que haja alto desempenho e autonomia de energia.</p>
            </div>

            <div class="evo_content6">
                <p>A bateria desses laptops deve durar pelo menos nove horas com uma única carga, sem contar que, para cada 30 minutos de recarga, a bateria do dispositivo deve aguentar até quatro horas. Quanto ao design dos laptops, é necessário que eles sejam ultrafinos e extremamente leves. Isso porque a proposta da Intel é que esses aparelhos sejam transportados facilmente em viagens ou mesmo fora de casa. Portanto, todos os desenvolvedores se preocupam com o peso e, atualmente, todos são mais leves que 1,5 kg. A plataforma suporta telas de 15 ou 16 polegadas e também dispositivos com telas dobráveis.</p>
            </div>

            <div class="evo_content7">
                <p>Outro requisito de extrema importância é a rapidez. Na proposta do selo, está inclusa a capacidade dos notebooks saírem do modo de suspensão em menos de um segundo, além de ter suporte para transferência rápida de dados, possuindo Thunderbolt 4.0, carregamento USB-C e Wi-Fi 6E integrado. Pensando na prática diária do home office e em trabalhos intensos, um novo requisito introduzido foi a Colaboração Inteligente. Esse recurso permite que o computador seja multitarefa e não trave em aplicativos como Microsoft Office, Zoom e Slack.</p>
            </div>

            <div class="evo_content8">
                <p>Outras especificações apresentadas pela Intel incluem um mínimo de 8 GB de RAM de canal duplo, SSD PCIe NVMe de 256 GB, recursos de login biométrico como câmera IR, leitor de impressão digital, sensor de proximidade Bluetooth e conectividade Gigabit LTE opcional.</p>
            </div>

        </div>

    </section>

    <!-- FIM SECTION 2 -->

    <!-- SECTION 3 -->

    <section>

        <div class="evo_principal3">

            <div class="evo_content9">
                <h2 class="evo_h2">Em resumo</h2>
                <p>O Intel Evo é um emblema que promete um padrão de laptops de alta qualidade certificado pela Intel. As características encontradas nos modelos aprovados e qualificados pelo selo são:</p>

                <div class="evo_content9_1">
                    <ul>
                        <li>Resposta consistente na bateria;</li>
                        <hr>
                        <li>Ativação em menos de um segundo quando estiver no modo suspenso ;</li>
                        <hr>
                        <li>Nove horas ou mais de duração real da bateria (notebooks com tela Full HD);</li>
                        <hr>
                        <li>Quatro horas ou mais de duração da bateria em uma carga de 30 minutos em (notebooks com tela Full HD);</li>
                        <hr>
                        <li>conectividade Wi-Fi 6;</li>
                        <hr>
                        <li>Portas Thunderbolt 4 e carregamento USB-C.</li>
                    </ul>

                </div>

            </div>

        </div>

    </section>

    <!-- FIM SECTION 3 -->

    <!-- SECTION 4 -->

    <section>

        <div class="evo_principal4">
            <h2 class="evo_h2_1">O que muda com a 3ª geração?</h2>

            <div class="evo_content10">

                <ul>
                    <li>SoC Intel de 12ª geração;</li>
                    <hr class="evo_hr">
                    <li>Suporte a Wi-Fi 6E;</li>
                    <hr class="evo_hr">
                    <li>Intel Connectivity Performance Suite (disponível apenas no Windows);</li>
                    <hr class="evo_hr">
                    <li>Supressão dinâmica de ruído de fundo;</li>
                    <hr class="evo_hr">
                    <li>Tecnologia Intel Visual Sensing;</li>
                    <hr class="evo_hr">
                    <li>Câmera FHD (altamente recomendada) ou câmera Intel IPU6/MIPI.</li>
                    <hr class="evo_hr">
                    <li>Sistemas Intel H-Series de 12ª geração foram incluídos na plataforma Evo, com requisitos extras:</li>
                    <hr class="evo_hr">
                    <li>CPU Intel Core H-Series de 12ª geração (35 Watts a 45 Watts TDP);</li>
                    <hr class="evo_hr">
                    <li>GPU Intek Arc Discrete com Intel Deep Ink;</li>
                    <hr class="evo_hr">
                    <li>Tela entre 15 e 16 polegadas.</li>
                </ul>

            </div>

        </div>

    </section>

    <!-- FIM SECTION 4 -->

    <button id="scrollToTopBtn">&#9650;</button>

 <!-- INÍCIO DO FOOTER -->
 <footer class="rodape_utp">

    <div class="conteudo-1">
        <h2>PRINCIPAL</h2>
        
        <ul>
            <li><a href="../Página Inicial/index.html">Home</a></li>
            <li><a href="../Login/index.html">Login</a></li>
            <li><a href="../Cadastro/index.html">Cadastre-se</a></li>
            <li><a href="../About/index.html">About</a></li>
            <li><a href="../Comentários/index.html">Faça o seu comentário</a></li>
        </ul>
    </div>

    <div class="conteudo-2">
        <h2>TEMAS</h2>

        <ul>
            <li><a href="../Apple vs Samsung/index.html">Apple vs Samsung</a></li>
            <li><a href="../Cabos UTP/index.html">Cabos UTP</a></li>
            <li><a href="../Dock Staion/index.html">Dockstation</a></li>
            <li><a href="../Hubs vs Switches/index.html">Hubs vs. Switches</a></li>
            <li><a href="../INTEL EVO/index.html">INTEL EVO</a></li>
        </ul>

    </div>

    <div class="conteudo-3">
        <h2>TEMAS</h2>

        <ul>
            <li><a href="../Processadores INTEL/index.html">Precessadores INTEL</a></li>
            <li><a href="../Roteadores/index.html">Roteadores Wi-Fi</a></li>
            <li><a href="../SSD vs HDD vs eMMC/index.html">SSD vs HDD vs eMMC</a></li>
            <li><a href="../Tipos de cabos USB/index.html">Tipos de USB</a></li>
        </ul>

    </div>

    <div class="conteudo-4">
        <h2>CONTACT US</h2>

        <ul>
            <li><a href="#">WhatsApp</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">X</a></li>
        </ul>

    </div>

</footer>

<div class="copy_rodape">
    <p>&copy; 2024 PAULINFORMATION. Todos os direitos reservados.</p>
</div>
<!-- FIM DO FOOTER -->



</body>
</html>